<div id="<%= dom_id poule %>">
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <table class="table table-bordered fs-6">
        <thead>
          <tr>
          <th scope="col">Fencers</th>
            <% @poule_fencers.each do |fencer, index| %>
              <td scope="col fs-6"> <%= fencer.name %> </td>
            <% end %>
          </tr>
        </thead>
        <tbody>
            <% @poule_table_rows.each_with_index do |row, index| %>
              <tr>
                <td scope="row fs-6"><%= @poule_fencers[index].name %></td>
                  <% row.each do |score|%>
                    <% if score == "X" %>
                      <td class="table-dark">  </td>
                    <% else%>
                      <% if score[0] == "V" %>
                        <td class="table-success"> <%= score %> </td>
                      <% elsif score[0] == "D" %>  
                        <td class="table-danger"> <%= score %> </td>
                      <% else %>
                        <td> <%= score %> </td>
                      <% end %>
                    <% end %>
                  <% end %>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-bordered fs-6">
        <thead>
          <tr>
            <th scope="col">Fencers</th>
            <td scope="col fs-6"> Victories </td>
            <td scope="col fs-6"> Touches For </td>
            <td scope="col fs-6"> Touches Against </td>
            <td scope="col fs-6"> Indicator </td>
          </tr>
        </thead>
        <tbody>
          <% @poule_fencers.each do |fencer| %>
            <tr>
              <td scope="row fs-6"><%= fencer.name %></td>
              <td scope="row fs-6"><%= @fencer_victories["#{fencer.name}"] %></td>
              <td scope="row fs-6"><%= @fencer_victories["#{fencer.name}_points_for"] %></td>
              <td scope="row fs-6"><%= @fencer_victories["#{fencer.name}_points_against"] %></td>
              <td scope="row fs-6"><%= @fencer_victories["#{fencer.name}_indicator"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




<% poule.matches.each_with_index do |match, index| %>
<div class="card">
  <p>Match <%= index + 1 %></p>
  <% fencer1 = match.fencers.first.name %> 
  <% fencer1_score = match.scores.where(fencer_id: match.fencers.first)[0].points %>
  <% fencer2 =match.fencers.second.name %> 
  <% fencer2_score = match.scores.where(fencer_id: match.fencers.second)[0].points %>
  <%= fencer1 %>: <%= fencer1_score %> - <%= fencer2 %>: <%= fencer2_score %>
  <%= link_to "Update Scores", edit_match_path(match, @poule) %>
</div>
<% end  %>
</div>
