<div id="<%= dom_id poule %>">

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Fencers</th>
      <% @poule_fencers.each do |fencer, index| %>
        <td scope="col"> <%= fencer.name %> </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @poule_table_rows.each_with_index do |row, index| %>
        <tr>
          <td scope="row"><%= @poule_fencers[index].name %></td>
            <% row.each do |score|%>
              <% if score == "X" %>
                <td class="table-dark">  </td>
              <% else%>
                <td> <%= score %> </td>
              <% end %>
            <% end %>
        </tr>
      <% end %>

  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Fencers</th>
      <% poule.fencers.uniq.each do |fencer, index| %>
        <td scope="col"> <%= fencer.name %> </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% poule.fencers.uniq.each_with_index do |fencer, index| %>
        <% fencer_matches = [] %>
        <% poule.matches.each do |match| %>
          <% if match.fencers[0] == fencer || match.fencers[1] == fencer %>
            <% fencer_matches << match %>
          <% end %>
        <% end %>
        <% fencer_matches.insert(index, index) %>
        <tr>
          <td scope="row"><%= fencer.name %></td>
          <% fencer_matches.each_with_index do |match, ind| %>
            <% if match == ind %>
              <td class="table-dark">  </td>
            <% elsif match != nil %>
              <td>
                <% fencer_matches.each_with_index do |ma, x| %>
                  <% if ma == x %>
                  <% elsif ma != nil %>
                    <% if ma.fencers[0].name == poule.fencers.uniq[ind].name || ma.fencers[1].name == poule.fencers.uniq[ind].name %>
                        <% if ma.scores.first.fencer.name == fencer.name %>
                          <%=  ma.scores.first.points %>
                        <% elsif ma.scores.last.fencer.name == fencer.name %>
                          <%=  ma.scores.last.points %>
                        <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>

  </tbody>
</table>

<% poule.matches.each_with_index do |match, index| %>
<div class="card">
  <p>Match <%= index + 1 %></p>
  <% fencer1 = match.fencers.first.name %> 
  <% fencer1_score = match.scores.where(fencer_id: match.fencers.first)[0].points %>
  <% fencer2 =match.fencers.second.name %> 
  <% fencer2_score = match.scores.where(fencer_id: match.fencers.second)[0].points %>
  <%= fencer1 %>: <%= fencer1_score %> - <%= fencer2 %>: <%= fencer2_score %>
  <%= link_to "Update Scores", edit_match_path(match) %>
</div>
<% end  %>
</div>
