<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ðŸ¤º Epeely </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a><%= link_to "Tournaments", tournaments_path, class: "nav-link active" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "Fencers", fencers_path, class: "nav-link active" %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container pt-3">
  <%= link_to "â¬…ï¸ Back to fencers", fencers_path, class: "nav-link active mb-3" %>
  <%= link_to "â¬…ï¸ Back to #{@fencer.name}", fencer_path(@fencer), class: "nav-link active mb-3" %>

<h1>Editing fencer</h1>

<div class="col-3">
  <%= render "form", fencer: @fencer %>
</div>


</div>
