<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">🤺 Epeely </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a><%= link_to "Tournaments", tournaments_path, class: "nav-link active" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "Fencers", fencers_path, class: "nav-link active" %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<div class="container p-4">
  <div class="row">
      <div class="col">
        <h1><%= @fencers.count %> Fencers</h1>
      </div>
      <div class="col d-flex align-items-end flex-column">
        <%= link_to "Add Fencer", new_fencer_path, class: "btn btn-success m-2" %>
      </div>
  </div>
   
  <div class="row">
    <% @fencers.each_with_index do |fencer, index| %>
      <div class="col-sm-3 mb-2">
        <div class="card" style="width: 18rem;">  
          <%= render partial: fencer, locals: { index: index } %>
        <div class="card-body">
          <%= link_to "View", fencer, class: "btn btn-dark" %>
          <%= link_to "Edit", edit_fencer_path(fencer), class: "btn btn-dark" %>
        </div>
        </div>
      </div>
    <% end %>
  </div>

</div>