<p style="color: green"><%= notice %></p>

<% if @fencer.photo.attached? %>
  <%= cl_image_tag @fencer.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= render @fencer %>

<div>
  <%= link_to "Edit this fencer", edit_fencer_path(@fencer) %> |
  <%= link_to "Back to fencers", fencers_path %>

  <%= button_to "Destroy this fencer", @fencer, method: :delete %>
</div>
