<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">🤺 Epeely </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a><%= link_to "Tournaments", tournaments_path, class: "nav-link active" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "Fencers", fencers_path, class: "nav-link active" %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<div class="container p-3">
  <h1>Tournaments</h1>

  <div id="tournaments">
    <% @tournaments.each do |tournament| %>
      <%= render tournament %>
    <% end %>
  </div>

  <%= link_to "New tournament", new_tournament_path, class: "btn btn-success m-2" %>
</div>
