<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1><%= @tournament.created_at.to_fs(:long) %></h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Fencers</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Poules</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Results</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <ol class="list-group list-group-numbered">
    <% @ranked_order.each do | fencer_details | %>
          <li class="list-group-item"><%= fencer_details[0] %> <%= fencer_details[1] %></li>
    <% end %>
      </ol>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
     <%= render @tournament %>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <%= render partial: "rankings", locals: { tournament: @tournament } %>
  </div>
</div>

</div>
<div class="container p-4">
  <%= link_to "Edit this tournament", edit_tournament_path(@tournament) %> |
  <%= link_to "Back to tournaments", tournaments_path %>

  <%= button_to "Destroy this tournament", @tournament, method: :delete, class: "btn btn-primary"%>
</div>
