<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ðŸ¤º Epeely </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a><%= link_to "â¬…ï¸ Back to tournaments", tournaments_path, class: "nav-link active" %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1><%= @tournament.created_at.to_fs(:long) %></h1>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Fencers</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Poules</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Results</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="container pt-4">
      <ol class="list-group list-group-numbered">
        <% @ranked_order.each_with_index do | fencer_details, index | %>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= fencer_details[0] %></div>
            </div>
            <span class="badge bg-secondary rounded-pill"><%= fencer_details[1] %></span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="container pt-4">
      <div class="row">
        <% @tournament.poules.each_with_index do | poule, index | %>
            <div class="card border-secondary m-3 p-0" style="max-width: 18rem;">
              <div class="card-header">Poule <%= index+1 %> </div>
              <div class="card-body">
                <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" 
                     src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data=<%=full_url_for(poule)%>">
                <hr>
                <% poule.fencers.uniq.each do | fencer | %>
                  <div class="card-text m-3">
                    <% if fencer.photo.attached? %>
                      <%= cl_image_tag fencer.photo.key, height: 30, width: 30, crop: :fill, class: "rounded-circle" %>
                    <% end %>
                    <%= fencer.name %>
                  </div>
                <% end %>
                <%= link_to "Go to Poule", poule, class: "btn btn-dark" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <%= render partial: "rankings", locals: { tournament: @tournament } %>
  </div>
</div>

</div>
<div class="container p-4">
  <%= link_to "Select Fencers", edit_tournament_path(@tournament), class: "btn btn-dark m-2" %>
  <%= button_to "Delete tournament", @tournament, method: :delete, class: "btn btn-danger m-2"%>
</div>
