<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://em-content.zobj.net/source/apple/354/person-fencing_1f93a.png">
    <title>Epeely</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
